<% layout("/layouts/boilerplate") %>
 
<style>
     #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 5px 0 5px 0;
        padding: 20px;
    } 

    /*.filter{
        text-align: center;
        margin: 1.5rem;
        opacity:0.7;
    }

    .filter:hover{
        opacity:1;
        cursor: pointer;
    }

    .filter p {
        font-size:0.8rem;
    } */

    .filter-item.active {
        border-bottom: 2px solid black;
        font-weight: 600;
    }

    .filter-item {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        opacity: 0.6;
    }

    .filter-item.active {
        opacity: 1;
    }

    .tax-info {
        display: none;
    }

    .tax-toggle {
        border: 1px solid rgba(148, 147, 147, 0.22);
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }
</style>


    <div id="filters">
         <a href="/listings?category=Trending" class="filter-item <%= currCategory === 'Trending' ? 'active' : '' %>">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </a>
      
        <a href="/listings?category=Rooms" class="filter-item <%= currCategory === 'Rooms' ? 'active' : '' %>">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </a>

        <a href="/listings?category=Iconic Cities" class="filter-item <%= currCategory === 'Iconic Cities' ? 'active' : '' %>">
            <i class="fa-solid fa-city"></i>
            <p>Iconic Cities</p>
        </a>
    
        <a href="/listings?category=Mountain" class="filter-item <%= currCategory === 'Mountain' ? 'active' : '' %>">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain</p>
        </a>

        <a href="/listings?category=Amazing Pools" class="filter-item <%= currCategory === 'Amazing Pools' ? 'active' : '' %>">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </a>

        <a href="/listings?category=Cabins" class="filter-item <%= currCategory === 'Cabins' ? 'active' : '' %>">
            <i class="fa-solid fa-house-chimney"></i>
            <p>Cabins</p>
        </a>

        <a href="/listings?category=Farm" class="filter-item <%= currCategory === 'Farm' ? 'active' : '' %>">
            <i class="fa-solid fa-cow"></i>
            <p>Farm</p>
        </a>
 
        <a href="/listings?category=Arctic" class="filter-item <%= currCategory === 'Arctic' ? 'active' : '' %>">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </a>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display Total after taxes</label>
            </div>
        </div>
    </div>
    
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                  <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                         <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %> </b>
                                <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="tax-info">+ 18% GST</i>
                            </p>
                        </div>
                 </div>
            </a>
        <% } %>
    </div>


<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display != "inline"){
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
            
        }
    })
</script>